# Membership constraints

In [11]:
import pandas as pd

In [12]:
categories = pd.read_csv("data/categories.csv")
airlines = pd.read_csv("data/airlines.csv")

In [13]:
categories

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied

In [14]:
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

Cleanliness:  ['Somewhat clean' 'Average' 'Clean' 'Unacceptable' 'Somewhat dirty'
 'Dirty']

Safety:  ['Very unsafe' 'Somewhat safe' 'Somewhat unsafe' 'Neutral' 'Very safe']

Satisfaction:  ['Somewhat unsatisfied' 'Very unsatisfied' 'Somewhat satisfied' 'Neutral'
 'Very satisfied']

In [15]:
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)
airlines[cat_clean_rows]

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
4,1004,Thursday,ALASKA,DEST_4,Europe,Hub,Gates 1-12,2018-12-31,587.8,Unacceptable,Somewhat safe,Very unsatisfied
17,1017,Tuesday,CHINA EASTERN,DEST_17,eur,Large,Gates 50-59,2018-12-31,477.6,Unacceptable,Very unsafe,Very satisfied
33,1033,Saturday,UNITED,DEST_33,Middle East,Small,Gates 50-59,2018-12-31,296.7,Unacceptable,Somewhat unsafe,Neutral
37,1037,Friday,CHINA EASTERN,DEST_37,middle east,Medium,Gates 1-12,2018-12-31,87.3,Unacceptable,Very safe,Very satisfied
40,1040,Thursday,SOUTHWEST,DEST_40,Australia/New Zealand,Medium,Gates 91-102,2018-12-31,433.7,Unacceptable,Very safe,Very satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...
2431,3431,Saturday,ALASKA,DEST_2431,Midwest US,Large,Gates 40-48,2018-12-31,71.9,Unacceptable,Very safe,Very unsatisfied
2433,3433,Friday,ALASKA,DEST_2433,Central/South America,Large,Gates 20-39,2018-12-31,438.6,Unacceptable,Very unsafe,Somewhat satisfied
2435,3435,Saturday,DELTA,DEST_2435,Middle East,Hub,Gates 20-39,2018-12-31,587.6,Unacceptable,Somewhat safe,Very satisfied
2451,3451,Monday,DELTA,DEST_2451,Asia,Hub,Gates 91-102,2018-12-31,561.7,Unacceptable,Somewhat safe,Somewhat satisfied
2469,3469,Tuesday,CHINA EASTERN,DEST_2469,Canada/Mexico,Small,Gates 91-102,2018-12-31,368.1,Unacceptable,Neutral,Very satisfied

In [16]:
airlines[~cat_clean_rows]

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,1000,Saturday,DELTA,DEST_0,Canada/Mexico,Hub,Gates 91-102,2018-12-31,155.7,Somewhat clean,Very unsafe,Somewhat unsatisfied
1,1001,Friday,JETBLUE,DEST_1,Australia/New Zealand,Medium,Gates 40-48,2018-12-31,480.3,Average,Somewhat safe,Very unsatisfied
2,1002,Tuesday,JETBLUE,DEST_2,West US,Large,Gates 1-12,2018-12-31,533.5,Clean,Very unsafe,Somewhat unsatisfied
3,1003,Wednesday,UNITED INTL,DEST_3,West US,Hub,Gates 91-102,2018-12-31,263.4,Somewhat clean,Somewhat safe,Somewhat unsatisfied
5,1005,Monday,CHINA EASTERN,DEST_5,Middle East,Hub,Gates 40-48,2018-12-31,101.2,Somewhat dirty,Somewhat unsafe,Somewhat unsatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...
2472,3472,Tuesday,ALASKA,DEST_2472,Middle East,Medium,Gates 91-102,2018-12-31,499.4,Clean,Very unsafe,Very unsatisfied
2473,3473,Sunday,SOUTHWEST,DEST_2473,Central/South America,Large,Gates 1-12,2018-12-31,58.4,Average,Very safe,Neutral
2474,3474,Tuesday,AMERICAN,DEST_2474,West US,Medium,Gates 50-59,2018-12-31,377.8,Dirty,Very unsafe,Very satisfied
2475,3475,Friday,UNITED INTL,DEST_2475,Midwest US,Medium,Gates 20-39,2018-12-31,155.2,Somewhat dirty,Neutral,Neutral
2476,3476,Saturday,UNITED,DEST_2476,East US,Medium,Gates 40-48,2018-12-31,596.8,Dirty,Somewhat unsafe,Neutral

# Categorical variables

In [ ]:
airlines['dest_size'].unique()

array(['Hub', 'Medium', 'Large', '    Hub', 'Hub     ', 'Large     ',
       'Medium     ', 'Small     ', '    Large', 'Small', '    Medium',
       '    Small'], dtype=object)

In [18]:
airlines['dest_region'].unique()

array(['Canada/Mexico', 'Australia/New Zealand', 'West US', 'Europe',
       'Middle East', 'middle east', 'Asia', 'eur', 'EAST US',
       'Central/South America', 'East US', 'Midwest US'], dtype=object)

In [ ]:
airlines['dest_region'] = airlines['dest_region'].str.lower()
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})
airlines['dest_size'] = airlines['dest_size'].str.strip()

In [24]:
import numpy as np
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

In [ ]:
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, labels = label_names)

In [26]:
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}
airlines['day_week'] = airlines['day'].replace(mappings)