# Imports

In [10]:
import pandas as pd

onebike_df = pd.read_csv('data/capital-onebike.csv')

onebike_df['Start date'] = pd.to_datetime(onebike_df['Start date'])
onebike_df['End date'] = pd.to_datetime(onebike_df['End date'])


onebike_df = onebike_df.rename(columns={'Start date': 'start', 'End date': 'end'})


onebike = onebike_df.to_dict('records')

#  UTC Offsets

In [3]:
from datetime import datetime, timedelta, timezone

ET = timezone(timedelta(hours=-5))

ET

datetime.timezone(datetime.timedelta(days=-1, seconds=68400))

In [7]:
dt = datetime(2017,12,30,15,9,3, tzinfo = ET)
print(dt)

2017-12-30 15:09:03-05:00

In [8]:
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=timezone.utc)
print(dt.isoformat())

2017-10-01T15:26:26+00:00

In [12]:
edt = timezone(timedelta(hours=-4))


for trip in onebike[:10]:
    trip['start'] = trip['start'].replace(tzinfo=edt)
    trip['end'] = trip['end'].replace(tzinfo=edt)

In [13]:

for trip in onebike[:10]:
  dt = trip['start']
  dt = dt.astimezone(timezone.utc)
  print('Original:', trip['start'], '| UTC:', dt.isoformat())

Original: 2017-10-01 15:23:25-04:00 | UTC: 2017-10-01T19:23:25+00:00
Original: 2017-10-01 15:42:57-04:00 | UTC: 2017-10-01T19:42:57+00:00
Original: 2017-10-02 06:37:10-04:00 | UTC: 2017-10-02T10:37:10+00:00
Original: 2017-10-02 08:56:45-04:00 | UTC: 2017-10-02T12:56:45+00:00
Original: 2017-10-02 18:23:48-04:00 | UTC: 2017-10-02T22:23:48+00:00
Original: 2017-10-02 18:48:08-04:00 | UTC: 2017-10-02T22:48:08+00:00
Original: 2017-10-02 19:18:10-04:00 | UTC: 2017-10-02T23:18:10+00:00
Original: 2017-10-02 19:37:32-04:00 | UTC: 2017-10-02T23:37:32+00:00
Original: 2017-10-03 08:24:16-04:00 | UTC: 2017-10-03T12:24:16+00:00
Original: 2017-10-03 18:17:07-04:00 | UTC: 2017-10-03T22:17:07+00:00

# Time zone database

In [15]:
from datetime import datetime
from dateutil import tz

et = tz.gettz('America/New_York')

In [18]:
last = datetime(2017,12,30,15,9,3, tzinfo = et)
print(last)

2017-12-30 15:09:03-05:00

In [20]:
for trip in onebike[:10]:
  trip['start'] = trip['start'].replace(tzinfo=et)
  trip['end'] = trip['end'].replace(tzinfo=et)

# Starting daylight saving time

In [21]:
spring_ahead_159am = datetime(2017,3,12,1,59,59)
spring_ahead_159am.isoformat()

'2017-03-12T01:59:59'

In [22]:
spring_ahead_3am = datetime(2017,3,12,3,0,0)
spring_ahead_3am.isoformat()

'2017-03-12T03:00:00'

In [23]:
(spring_ahead_3am-spring_ahead_159am).total_seconds()

3601.0

In [24]:
EST  = timezone(timedelta(hours=-5))
EDT  = timezone(timedelta(hours=-4))

In [25]:
spring_ahead_159am = spring_ahead_159am.replace(tzinfo= EST)
spring_ahead_159am.isoformat()

'2017-03-12T01:59:59-05:00'

In [26]:
spring_ahead_3am = spring_ahead_3am.replace(tzinfo = EDT)
spring_ahead_3am.isoformat()

'2017-03-12T03:00:00-04:00'

In [27]:
(spring_ahead_3am-spring_ahead_159am).total_seconds()

1.0

In [31]:
from datetime import datetime, timedelta, timezone
from dateutil import tz


start = datetime(2017, 3, 12, tzinfo = tz.gettz('America/New_York'))
end = start + timedelta(hours=6)
print(start.isoformat() + " to " + end.isoformat())

print((end - start).total_seconds()/(60*60))

print((end.astimezone(tz.gettz('UTC')) - start.astimezone(tz.gettz('UTC')))\
      .total_seconds()/(60*60))

2017-03-12T00:00:00-05:00 to 2017-03-12T06:00:00-04:00
6.0
5.0

# Ending Daylight saving time

In [32]:
eastern = tz.gettz('US/Eastern')

first_1am = datetime(2017,11,5,1,0,0, tzinfo= eastern)

tz.datetime_ambiguous(first_1am)

True

In [34]:
second_1am = datetime(2017,11,5,1,0,0, tzinfo=eastern)

second_1am = tz.enfold(second_1am)

(first_1am - second_1am).total_seconds()

0.0

In [38]:
first_1am = first_1am.astimezone(tz.UTC)
second_1am = second_1am.astimezone(tz.UTC)

(second_1am - first_1am).total_seconds()

3600.0